@using Model.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/magic-check.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='#' data-lang="lblListMonitoringDevice">Danh sách giám sát máy</a></li>
            <li class="breadcrumb-item active" data-lang="lblGiamSatThongSo">Giám sát thông số thiết bị</li>
        </ol>
    </div>
</div>
<div ng-controller="HazardReportController" ng-init="fn.Init()">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['HazardReportController'])
</script>
